{% extends "base.html.twig" %}
{% block main %}
    <!-- /span6 -->
    <div class="span12">
        <div class="widget widget-table action-table">
            <div class="widget-header"> <i class="icon-group"></i>
                <h3>Liste des contacts</h3>
                <a href="{{ path('ajout_contact') }}" class="btn btn-success">Ajouter un contact</a>
            </div>
            <!-- /widget-header -->
            <div class="widget-content">
                <table class="table table-striped table-bordered">
                    <thead>
                    <tr>
                        <th> Nom </th>
                        <th> Prenom </th>
                        <th> specialite </th>
                        <th> adresse </th>
                        <th> numTel</th>
                        <th> </th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for contact in contacts %}
                        <tr>
                            <td> {{ contact.nom }}</td>
                            <td> {{ contact.prenom }} </td>
                            <td> {{ contact.specialite}} </td>
                            <td>{{ contact.adresse }}</td>
                            <td> {{ contact.numTel }} </td>
                            <td>
                                {#<a href="{{ path('modifier_secretaire' , {'id': secretaire.id} ) }}" class="btn btn-small"><i class="btn-icon-only icon-pencil"> </i>Modifier</a>#}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <!-- /widget-content -->
        </div>
        <!-- /widget -->
    </div>
    <!-- /span6 -->
    <div class="span6">

    </div>
{% endblock %}