{% extends "base.html.twig" %}
{% block main %}
    <div class="row">
        <div class="span12">
            <div class="widget ">
                <div class="widget-header">
                    <i class="icon-user"></i> <h3>Ajouter un medicament</h3>
                </div> <!-- /widget-header -->
                <div class="widget-content row">
                    {{ form_start(form) }}

                    {{ form_errors(form) }}

                    {{ form_row(form.code) }}
                    {{ form_row(form.nom) }}

                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}