{% extends "base.html.twig" %}
{% block main %}
    <div class="row">
    <!-- /span6 -->
    <div class="span4">
        <div class="widget">
            <div class="widget-header"> <i class="icon-search"></i>
                <h3>Recherche</h3>
            </div>
            <div class="widget-content form-recherche-patient">
                    {{ form_start(form) }}
                    {{ form_errors(form) }}
                    {{ form_row(form.nom) }}
                    {{ form_end(form) }}
             </div>
            </div>
        </div>
        <div class="span8">
            <!-- /widget-header -->
        <div class="widget widget-table action-table">
            <div class="widget-header"> <i class="icon-th-list"></i>
                <h3>Liste des medicaments</h3>
                <a href="{{ path('ajout_medicament') }}" class="btn btn-success pull-right">Ajouter Medicament</a>
            </div>
            <!-- /widget-header -->
            <div class="widget-content">
                <table class="table table-striped table-bordered">
                    <thead>
                    <tr>
                        <th>Code </th>
                        <th>Nom </th>
                        <th> </th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for medicament in medicaments %}
                        <tr>
                            <td> {{ medicament.code }} </td>
                            <td> {{ medicament.nom }} </td>

                            <td>
                                <a href="{{ path('modifier_medicament' , {'id': medicament.id} ) }}" class="btn btn-small btn-success"><i class="btn-icon-only icon-ok"> </i>Modifier</a>
                                <a href="{{ path('supprimer_medicament' , {'id': medicament.id}) }}" class="btn btn-danger btn-small"><i class="btn-icon-only icon-remove"> </i>Supprimer</a></td>
                        </tr>
                    {% endfor %}

                    </tbody>
                </table>
            </div>
            <!-- /widget-content -->
        </div>
        <!-- /widget -->

    </div>
    <!-- /span6 -->
    </div>
    <!-- /row -->
{% endblock %}