<form method="post" action="{{ path('ajout_analyse', {'id': consultation.id}) }}" class="form-sauvegarder-analyse">
    {{ form_errors(form) }}

    {{ form_row(form.type) }}
    {{ form_row(form.date) }}
    {{ form_row(form._token) }}

</form>
