<form method="post" action="{{ path('ajout_examen', {'id': consultation.id}) }}" class="form-sauvegarder-examen">
    {{ form_errors(form) }}

    {{ form_row(form.type) }}
    {{ form_row(form.resultat) }}
    {{ form_row(form._token) }}

</form>
